body {
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.header {
    display: flex;
    flex-direction: column;
    padding: 16px 160px 70px;
}

.navbar {
    display: flex;
    gap: 16px;
    padding-bottom: 32px;
}

.guide {
    margin-left: auto;
}

.signup {
    display: flex;
    justify-content: space-between;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    gap: 8px;
    min-width: 280px;
}

.introduction {
    font-weight: bold;
}

button {
    width: 80px;
    padding: 3 5px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 30px 230px 70px;
}

.info-images {
    display: flex;
    gap: 50px;
} 
.introimg {
    width: 420px;
    height: auto;
}

.infoimg {
    width: 180px;
    height: 178px;
    border-radius: 8px;
    border: 3px solid rgb(44, 129, 241);
}

.information {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.img .para {
    text-align: center;
    margin-top: 8px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFE7EB;
    padding: 70px 200px 60px;
    
}

.quoter-bar {
    display: flex;
    flex-direction: column;
    width: 720px;
}

.quoter {
    margin-left: auto;
    width: 100px;
    font-weight: bold;
}

.ad {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.ad-bar {
    display: flex;
    width: 900px;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
}

.bold {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header, .footer {
    background-color: #1F2937;
}

