body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 16px 160px 70px;
}

.navbar {
    display: flex;
    gap: 16px;
    padding-bottom: 32px;
}

.guide {
    margin-left: auto;
}

.signup {
    display: flex;
    justify-content: space-between;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    gap: 8px;
    min-width: 280px;
}

.introduction {
    font-weight: 900;
    font-size: 48px;
}


button {
    width: 100px;
    padding: 8px 8px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.header button {
    border: 0px;
}

.ad-bar button {
    border-color: white;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 30px 200px 70px;
}

.info-images {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
} 
.introimg {
    min-width: 300px;
    max-width: 420px;
    height: auto;
}

.infoimg {
    width: 180px;
    height: 178px;
    border-radius: 8px;
    border: 3px solid rgb(44, 129, 241);
}

.information {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 40px;
}

.img .para {
    text-align: center;
    width: 180px;
    margin-top: 8px;
    color: rgb(88, 83, 83);
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFE7EB;
    padding: 90px 200px 80px;
    
}

.quoter-bar {
    display: flex;
    flex-direction: column;
    width: 720px;
}

.quoter {
    margin-left: auto;
    width: 150px;
    font-weight: 900;
    font-size: 20px;
}

.ad {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 160px;
}

.ad-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 90px;
    background-color: #3882F6;
    border-radius: 8px;
    width: 800px;
}

.bold {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 90px;
}

.header, .footer {
    background-color: #1F2937;
}

a {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.logo, .intro, .ad-bar, .footer {
    color: white;
}

.information, .quote {
    color:#1F2937;
}

.quotation {
    font-size: 24px;
    font-style: italic;
}